@font-face {
    font-family: 'PressStart2P-Regular';
    src: url('fonts/PressStart2P-Regular.ttf');
    font-style: normal;
    font-weight: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'PressStart2P-Regular';
}

.wrapper {
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-image: url("./images/background.png");
    background-size: 100%;
    overflow: hidden;
    transition: visibility 1s, opacity 1s ease;
}

.wrapper_visible {
    visibility: visible;
}

.score {
    font-size: 25px;
    color: black;
    position: absolute;
    top:10%;
    left: 40%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 100px;
}

.totalScore {
    display: flex;
    margin: 80px auto;
    font-size: 50px;
}

.bestScore {
    display: flex;
    margin: 100px auto;
    font-size: 50px;
    color: red;
}

.zeroScore {
    display: flex;
    margin: 140px auto;
    font-size: 50px;
    color: red;
    visibility: hidden;
}

.countdown {
    position: absolute;
    top: 10px;
    right: 330px;
    width: 300px;
    font-size: 25px;
    text-align: center;
    color: black;
}

.button{
    position:absolute;
    left: 40%;
    top: 50%;
}

.button a{
    color:white;
    font-family:PressStart2P-Regular, sans-serif;
    font-weight:bold;
    font-size:36px;
    text-align: center;
    text-decoration:none;
    background-color:#FFA12B;
    display:block;
    position:relative;
    padding:20px 40px;

    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    text-shadow: 0px 1px 0px #000;
    filter: dropshadow(color=#000, offx=0px, offy=1px);

    -webkit-box-shadow:inset 0 1px 0 #FFE5C4, 0 10px 0 #915100;
    -moz-box-shadow:inset 0 1px 0 #FFE5C4, 0 10px 0 #915100;
    box-shadow:inset 0 1px 0 #FFE5C4, 0 10px 0 #915100;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.button a:active{
    top:10px;
    background-color:#F78900;

    -webkit-box-shadow:inset 0 1px 0 #FFE5C4, inset 0 -3px 0 #915100;
    -moz-box-shadow:inset 0 1px 0 #FFE5C4, inset 0 -3pxpx 0 #915100;
    box-shadow:inset 0 1px 0 #FFE5C4, inset 0 -3px 0 #915100;
}

.button:after{
    content:"";
    height:100%;
    width:100%;
    padding:4px;
    position: absolute;
    bottom:-15px;
    left:-4px;
    z-index:-1;
    background-color:#2B1800;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.button_reset {
    margin: 100px auto;
}

.hidden {
    visibility: hidden;
}

.game {
    width: 600px;
    height: 400px;
    margin: 70px auto;
    z-index: 200;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
}

.hole {
    overflow: hidden;
    flex: 1 0 33.33%;
    position: relative;
}
.hole:after {
    content: '';
    display: block;
    background-image: url("images/dirt.png");
    position: absolute;
    width: 100%;
    height: 90px;
    z-index: 2;
    bottom: -30px;
    background-size: contain;
    background-repeat: no-repeat;
}

.mole {
    background-image: url("images/mole.png");
    background-repeat: no-repeat;
    background-size: 180px 180px;
    position: absolute;
    top: 100%;
    left: 10%;
    width: 100%;
    height: 100%;
    transition: 0.4s;
}

.hole.up .mole {
    top: 0;
}

.mole.focus {
    background-image: url("images/whacked.png");
}

.startScreen {
    display: flex;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-image:url('images/WhackAMole-3.jpg');
    background-size: 100%;
    background-size: cover;

}
.image {
    width: 100%;
    height: 100%;
}

.startScreen_hidden {
    display: none;
}

.gameOverScreen {
    display: flex;
    flex-direction: column;
    visibility: hidden;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-image: url("images/game-over.jpg");
    background-size: 100%;
}


.visible {
    visibility: visible;
}