* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Helvetica';
}
.wrapper {
    border: 1px solid black;
    width: 800px;
    height: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url("./images/background.png");
    overflow: hidden;
}
.score {
    font-size: 100px;
    color: black;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid black;
    width: 200px;
    height: 100px;
}
.countdown {
    position: absolute;
    top: 490px;
    width: 100%;
    font-size: 15px;
    text-align: center;
    color: black;
}
.button {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%, 0);
    background: black;
    color: white;
    padding: 20px 50px;
    border-radius: 5px;
    z-index: 200;
    cursor: pointer;
    border: none;
    outline: none;
}

.game {
    border: 2px solid black;
    width: 600px;
    height: 400px;
    margin: 70px auto;
    z-index: 200;
    display: flex;
    flex-wrap: wrap;;
}

.hole {
    overflow: hidden;
    flex: 1 0 33.33%;
    position: relative;
}
.hole:after {
    content: '';
    display: block;
    background-image: url("images/hole.png");
    position: absolute;
    width: 100%;
    height: 90px;
    z-index: 2;
    bottom: -30px;
    background-size: contain;
    background-repeat: no-repeat;
}

.mole {
    background-image: url("images/mole.png");
    background-size: 180px 180px;
    position: absolute;
    top: 100%;
    width: 100%;
    height: 100%;
    transition: 0.4s;
}

.hole.up .mole {
    top: 0;
}

.mole.focus {
    background-image: url("images/whacked.png");
}